{% extends "@SurvosBase/base.html.twig" %}

{% block footer %}
<span>Photo by <a href="https://unsplash.com/@fhashemi?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Syed F Hashemi</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
{% endblock %}
